<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <h1>Welcome to the Game!</h1>


    <form action="/madlib">
        <p><label>Pick a color: <input type="text" name="color"></label></p>
        <p><label>Pick a noun: <input type="text" name="noun"></label></p>
        <p><label>Pick a adjective: <input type="text" name="adjective"></label></p>
        <p><label>Pick a name: <input type="text" name="person"></label></p>
        <input type="submit">
    </form>

    <p></p>
</body>


</html>